version: "3.8"

services:
  redis:
    image: redis:7-alpine
    container_name: laravel-test-redis
    command: [ "redis-server", "--save", "20", "1", "--loglevel", "warning" ]
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  redis-data:

